<footer class="footer h-card">

  <div class="wrapper">

    <h2 class="footer__heading">{{ site.title | escape }}</h2>

    <div class="footer__info">
      <div class="footer__section footer__author">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer__section footer__social">
        {%- include social.html -%}
      </div>

      <div class="footer__section footer__about">
        {% if page.lang == "en" %}
        <p class="footer__description">Frontend, web development and pc setup knowledge base</p>
        {% else %}
        <p class="footer__description">База знаний по фронтенду, веб-разработке и настройке пк</p>
        {% endif %}
        <p class="footer__copy">Favicon from <a href="https://www.svgrepo.com/svg/397378/man-technologist">svgrepo</a> under Apache License</p>
      </div>
    </div>

  </div>

</footer>
