<header class="header site-header">

  <div class="header__content">
    {% if page.lang == "en" %}
    <a class="header__title" rel="author" href="{{site.baseurl}}/en">{{ site.title | escape }}</a>
    {% else %}
    <a class="header__title" rel="author" href="{{site.baseurl}}/">{{ site.title | escape }}</a>
    {% endif %}
    <!-- HTML elements for search -->
    <div class="header__search search">
      {% if page.lang == "en" %}
      <input class="search__input" type="text" id="search-input" placeholder="Search content...">
      {% else %}
      <input class="search__input" type="text" id="search-input" placeholder="Поиск по содержимому...">
      {% endif %}
      <ul class="search__list visually-hidden" id="results-container"></ul>
    </div>
      <nav class="site-nav">
        <div class="site-nav__content">
          <section class="locales">
            <h3 class="locales__text visually-hidden">Выбор языка/Language</h3>
            {% if page.dir != "/tag/" %}

            {% if page.lang == "en" %}
            {% if page.url != "/en/" %}
            <a class="locales__lang locales__lang_ru" href="{{site.baseurl}}/ru{{page.url | replace: 'en/', ''}}">RU</a>
            {% else %}
            <a class="locales__lang locales__lang_ru" href="{{site.baseurl}}{{page.url | replace: 'en/', ''}}">RU</a>
            {% endif %}
            <span> / </span>
            <a class="locales__lang locales__lang_en" href="{{site.baseurl}}{{page.url}}">EN</a>
            {% endif %}

            {% if page.lang == "ru" %}
            <a class="locales__lang locales__lang_en" href="{{site.baseurl}}{{page.url}}">RU</a>
            <span> / </span>
            <a class="locales__lang locales__lang_ru" href="{{site.baseurl}}/en{{page.url | replace: 'ru/', ''}}">EN</a>
            {% endif %}

            {% endif %}
          </section>
          <a class="page-link" href="https://github.com/Vallek/webdevtips">GitHub</a>
          {% if page.lang == "ru" %}
          <a class="page-link" href="{{site.baseurl}}/ru/about/">О сайте</a>
          {% else if page.lang == "en" %}
          <a class="page-link" href="{{site.baseurl}}/en/about/">About</a>
          {% endif %}
        </div>
      </nav>
  </div>
</header>
