<header class="header site-header">

  <div class="header__content">
    {% if page.lang == "en" %}
    <a class="header__title" rel="author" href="{{site.baseurl}}/en">{{ site.title | escape }}</a>
    {% else %}
    <a class="header__title" rel="author" href="{{site.baseurl}}/">{{ site.title | escape }}</a>
    {% endif %}
    <!-- HTML elements for search -->
    <div class="header__search search">
      {% if page.lang == "en" %}
      <input class="search__input" type="text" id="search-input" placeholder="Search content...">
      {% else %}
      <input class="search__input" type="text" id="search-input" placeholder="Поиск по содержимому...">
      {% endif %}
      <ul class="search__list visually-hidden" id="results-container"></ul>
    </div>
      <nav class="site-nav">
        <div class="site-nav__content">
          <div class="site-nav__dropdown">
            {% if page.dir != "/tag/" %}

            {% if page.lang == "ru" %}
            <button class="site-nav__button">Язык</button>
            {% else if page.lang == "en" %}
            <button class="site-nav__button">Lang</button>
            {% endif %}

            <ul class="site-nav__list visually-hidden">
              {% if page.lang == "en" %}
              {% if page.url != "/en/" %}
              <li class="site-nav__item"><a class="site-nav__link locales__lang_ru" href="{{site.baseurl}}/ru{{page.url | replace: 'en/', ''}}">RU</a></li>
              {% else %}
              <li class="site-nav__item"><a class="site-nav__link locales__lang_ru" href="{{site.baseurl}}{{page.url | replace: 'en/', ''}}">RU</a></li>
              {% endif %}
              <li class="site-nav__item"><a class="site-nav__link locales__lang_en" href="{{site.baseurl}}{{page.url}}">EN</a></li>
              {% endif %}
  
              {% if page.lang == "ru" %}
              <li class="site-nav__item"><a class="site-nav__link locales__lang_en" href="{{site.baseurl}}{{page.url}}">RU</a></li>
              <li class="site-nav__item"><a class="site-nav__link locales__lang_ru" href="{{site.baseurl}}/en{{page.url | replace: 'ru/', ''}}">EN</a></li>
              {% endif %}
            </ul>

            {% endif %}
          </div>  
          <div class="site-nav__dropdown">
            {% if page.lang == "ru" %}
            <button class="site-nav__button">Тема</button>
            {% else if page.lang == "en" %}
            <button class="site-nav__button">Theme</button>
            {% endif %}
            <ul class="site-nav__list visually-hidden">
              {% if page.lang == "ru" %}
              <li class="site-nav__item">
                <a class="site-nav__link site-nav__link_light" href="#">Светлая</a>
              </li>
              <li class="site-nav__item">
                <a class="site-nav__link site-nav__link_dark" href="#">Темная</a>
              </li>
              {% else if page.lang == "en" %}
              <li class="site-nav__item">
                <a class="site-nav__link site-nav__link_light" href="#">Light</a>
              </li>
              <li class="site-nav__item">
                <a class="site-nav__link site-nav__link_dark" href="#">Dark</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="site-nav__dropdown">
            {% if page.lang == "ru" %}
            <button class="site-nav__button">Страницы</button>
            {% else if page.lang == "en" %}
            <button class="site-nav__button">Pages</button>
            {% endif %}
            <ul class="site-nav__list visually-hidden">
              <li class="site-nav__item">
                <a class="site-nav__link" href="https://github.com/Vallek/webdevtips">GitHub</a>
              </li>
              {% if page.lang == "ru" %}
              <li class="site-nav__item">
                <a class="site-nav__link" href="{{site.baseurl}}/ru/about/">О сайте</a>
              </li>
              {% else if page.lang == "en" %}
              <li class="site-nav__item">
                <a class="site-nav__link" href="{{site.baseurl}}/en/about/">About</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  </div>
</header>
