{% assign sidebar = site.data.sidebar %}
<aside class="sidebar">
	<h2 class="sidebar__heading">Рубрики и заметки</h2>
	<ul class="sidebar__notebooks">
		{% for notebook in sidebar %}
		{%- if page.notebook == notebook.title -%}
		<li class="sidebar__notebook sidebar__notebook_open">
		{%- else if -%}
		<li class="sidebar__notebook sidebar__notebook_close">
			{%- endif -%}
			<button class="sidebar__title">{{notebook.title}}</button>
			{% assign tags = '' | split: ',' %}
			{% assign unique_tags = '' | split: ',' %}
			{% assign ar_posts = '' | split: ',' %}
			
			{% for post in site.posts %}
			{%- if post.notebook == notebook.title -%}
			{% for tag in post.tags %}
			{% assign ar_posts = ar_posts | push: post %}
			{% endfor %}
			{% endif %}
			{% endfor %}

			{%- assign ar_tags =  ar_posts | map: 'tags' | uniq | join: ', ' | split: ', ' -%}	
			<ul class="siderbar__tags">
				{% for tag in ar_tags %}
				<li class="siderbar__tag">
					<a class="sidebar__link sidebar__link_tag" href="{{site.baseurl}}/tag/{{tag | replace: ' ', '-'}}">{{tag}}</a>
					{% for post in site.posts %}
					{%- if post.notebook == notebook.title -%}
					{%- if post.tags contains tag -%}
					<ul class="sidebar__notes">
						<li class="sidebar__note">
							{%- if page.url == post.url -%}
							<a class="sidebar__link sidebar__link_note sidebar__link_active" href="/webdevtips{{post.url}}">{{post.title}}</a>
							{%- else if -%}
							<a class="sidebar__link sidebar__link_note" href="/webdevtips{{post.url}}">{{post.title}}</a>
							{%- endif -%}
						</li>
					</ul>
					{%- endif -%}
					{%- endif -%}
					{% endfor %}
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</aside>